@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
.container {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  background: rgb(57, 232, 255);
  color: rgb(41, 41, 41);
}

.left {
  flex: 1 60%;
  display: flex;
  flex-flow: row wrap;
  min-width: 300px;
}

.heading {
  flex: 1 100%;
  display: flex;
  font-size: calc(6px + 2vw);
  justify-content: center;
}

.heading h1 {
  margin-bottom: 0;
}

.text {
  flex: 1 100%;
  font-size: calc((2vw + 4vh) / 2);
  padding: 0px 30px;
}

.right {
  flex: 1 40%;
  display: flex;
  align-items: center;
}

.pic {
  flex: 1 50%;
  height: 35vh;
  position: relative;
  filter: drop-shadow(10px 10px 4px #303033);
}

@media all and (min-width: 500px) {
  .pic {
    height: 90vh;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
