@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgb(255, 146, 197);
  color: rgb(41, 41, 41);
}

.heading {
  display: flex;
  justify-content: center;
}
.heading h1 {
  font-size: 2rem;
}

.text {
  flex: 1 100%;
  font-size: calc((1.7vw + 4.3vh) / 2);
}

.text ul {
  margin: 0px 0px 0px 40px;
}

.text li {
  font-size: 1.3rem;
  padding: 4px;
}

.animation {
  flex: none;
}

@media all and (min-width: 800px) {
  .text ul {
    columns: 3 auto;
  }

  .text li {
    font-size: 1rem;
    padding: 2px;
  }
}
