@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgb(255, 146, 197);
  color: rgb(41, 41, 41);
}

.heading {
  display: flex;
  justify-content: center;
}

.heading h1 {
  font-size: calc(4vw + 4vh / 2);
  margin: 20px 0px 20px 0px;
  padding: 0px;
}

.text {
  flex: 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text li {
  font-size: calc(2vw + 3vh / 2);
}

.animation {
  flex: 1 100%;
  display: flex;
  align-items: center;
  max-height: 200px;
}

@media all and (orientation: landscape) {
  .text ul {
    columns: 3 auto;
  }

  .text li {
    font-size: calc(2vw + 1.2vh / 2);
  }
}
