.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background: black;
  z-index: 10;
}

.header h1 {
  font-size: calc(10px + 6vw);
  z-index: 10;
  color: gold;
  padding: 0;
  opacity: 0;
  margin-top: 25vh;
  margin-bottom: 0px;
  animation: fadeIn 1000ms;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
  /* pointer-events: none; */
}

.description {
  opacity: 0;
  animation: fadeIn 1000ms;
  animation-fill-mode: forwards;
  font-size: calc(12px + 4vw);
  z-index: 10;
  color: gold;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
