.container {
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.container section {
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background: black;
  z-index: 10;
}

.header h1 {
  font-size: calc(10px + 5vw);
  z-index: 10;
  color: white;
  padding: 0;
  margin: 20px 0px 0px 0px;
  pointer-events: none;
}

.arrow {
  opacity: 0;
  display: flex;
  position: absolute;
  right: 40px;
  bottom: 15px;
  flex-direction: column;
  align-items: center;
  font-size: calc(12px + 4vw);
  animation: fadeIn 2000ms;
  animation-delay: 8000ms;
  animation-fill-mode: forwards;
  z-index: 10;
  color: white;
}

.arrow button {
  z-index: 100;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  animation: bounce 1s infinite;
  animation-direction: alternate;
}

.description {
  opacity: 0;
  margin: 0px;
  padding: 0px;
  animation: fadeIn 500ms;
  animation-delay: 2500ms;
  animation-fill-mode: forwards;
  font-size: calc(12px + 4vw);
  z-index: 10;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0px, -20px);
  }
}

.projects {
  flex: 1 100%;
}
