.container {
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.container section {
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.header h1 {
  font-size: calc(25px + 5vw);
  margin-top: 0px;
  margin-left: 20px;
  z-index: 10;
}

.arrow {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(12px + 2vw);
  margin-top: 50vh;
  animation: fadeIn 4000ms;
  animation-delay: 10000ms;
  animation-fill-mode: forwards;
}

.arrow button {
  z-index: 2;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  animation: bounce 1s infinite;
  animation-direction: alternate;
}

.description {
  opacity: 0;
  animation: fadeIn 1ms;
  animation-delay: 2900ms;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(12px + 3vw);
  z-index: -1;
  margin-top: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0px, -20px);
  }
}

.projects {
  flex: 1 100%;
}
