.container {
  display: flex;
  flex-flow: row wrap;
  min-height: 100vh;
  background: #ffd900;
  color: rgb(41, 41, 41);
  padding-bottom: 10px;
}

.heading {
  flex: 1 100%;
  text-align: center;
}

.heading h1 {
  font-size: calc(4vw + 4vh / 2);
  margin: 20px 0px 0px 0px;
  padding: 0px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

@media all and (orientation: landscape) {
}
