.scene {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  z-index: 1;
}

.scoreboard {
  position: absolute;
  left: 40px;
  bottom: 15px;
  color: white;
  font-size: calc(8px + 4vw);
}
